<div class= 'main'>
<h1>"Please SignUp again"</h1>
<% if @new_user.errors %>
  <ul>
    <% @new_user.errors.each do |error| %>
      <li><%= error.first %></li>
    <% end %>
  </ul>
<% end %>

<a class='button' href="/">SignUp</a>
</div>