  <h1>"Thanks for registering. You can know login to talk with the mirror"</h1>

  <div class='loginform'>
    <p> Login </p>
    <form action='/login' method="post">
      <label for="email">Email</label>
      <input type='text' name="email" id='email' />
      <label for="password">Password</label>
      <input type='password' name='password' id='password' />
      <input type='hidden' name='number_of_log' value="0"/>
      <input type="submit" value="Log In" class="button"/>
    </form>
  </div>